/* MIXINS
                                                                              */

.bold () {
	font-weight: @bold-weight;
}

.box-sizing (@value) {
    -webkit-box-sizing: @value;
    -moz-box-sizing: @value;
    box-sizing: @value;
}

// Contain floats: h5bp.com/q 
.clearfix () { 
	*zoom: 1;

	&:before, &:after {
		content: ""; 
		display: table; 
	}

	&:after {
		clear: both;
	}
}

// gradients
.gradient (@start: @foreground, @end: @background, @replacement: @gray) {
	background: @replacement;
	// TODO
}

.gradient-vertical (@start: @foreground, @end: @background, @replacement: @gray) {
	background: @replacement;
	// TODO
}

.gradient-directional (@direction, @start: @foreground, @end: @background, @replacement: @gray) {
	background: @replacement;
	// TODO
}

// opacity
// TODO: check need for -khtml, -moz, -webkit opacity
.opacity (@opacity: 100) {
	filter: e(%("alpha(opacity=%d)", @opacity));
	opacity: @opacity / 100;	
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden () {
	display: none !important; 
	visibility: hidden; 
}

// Hyphenation
.hyphens (@value: auto) {
	-webkit-hyphens: @value;
	-moz-hyphens: @value;
	hyphens: @value;
}

.hyphenate-character (@value: "\2010") {
	-webkit-hyphenate-character: @value;
	hyphenate-character: @value;
}

.hyphenate-limit-after (@value: 1) {
	-webkit-hyphenate-limit-after: @value;
	hyphenate-limit-after: @value;
}

.hyphenate-limit-before (@value: 3) {
	-webkit-hyphenate-limit-before: @value;
	hyphenate-limit-before: @value;
}

// Image Replacement
// https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7
.image-replacement () {
	border: 0; 
	font: 0/0 a; 
	text-shadow: none; 
	color: transparent; 
	background-color: transparent;
}

// Hide visually and from screenreaders, but maintain layout
.invisible () { 
	visibility: hidden; 
}

// Fonts
.monospace () {
	font-family: @font-monospace-stack;
}

.sans-serif () {
	font-family: @font-sans-serif-stack;
}

.serif () {
	font-family: @font-serif-stack;
}

// Size Shortcuts
.size (@height, @width) {
	height: @height;
	width: @width;
}

.square (@size) {
	.size (@size, @size);
}

// Text Size
.text-size-adjust (@value: 100%) {
	-webkit-text-size-adjust: @value;
	-ms-text-size-adjust: @value;
	text-size-adjust: @value;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v 
.visuallyhidden () { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}

